@using Application.Todo.Assign
@model TodoDetails

<fieldset>
	<legend>@Model.Title</legend>
	@if (Model.Description != null)
	{
		<p>
			@Model.Description
		</p>
		<div>
			@Html.LabelFor(x => x.AssignedTo)
			@Html.Partial("Partials/Assign", new AssignTodo())		
		</div>
	}
</fieldset>

@Html.ActionLink("Back to Index", "Index")