@model TodoDetails

<fieldset>
	<legend>@Model.Title</legend>
	@if (Model.Description != null)
	{
		<p>
			@Model.Description
		</p>
		<div>
			@Html.LabelFor(x => x.AssignedTo)
		
			@using (Html.BeginForm("Assign", "Todo"))
			{
				@Html.HiddenFor(x => x.Id)
				@Html.DropDownListFor(x => x.AssignedTo, SelectItemHelper.From(Model.Users, x => x.UserName, x => string.Format("{0} ({1})", x.DisplayName, x.TodoItemCount)).Selected(Model.AssignedTo.UserName))
			}
		</div>
	}
</fieldset>

@Html.ActionLink("Back to Index", "Index")